@keyframes navSlideDown {
  from {
    opacity: 0;
    @include transform(translate(0, -20px));
  }
  to {
    opacity: 1;
    @include transform(translate(0, 0));
  }
}

@keyframes float{
  from{
    opacity: 0;
    @include transform(translate(0, 100px));
  }
  to{
    opacity: 1;
    @include transform(translate(0, 0));
  }
}
.slideUp{
  opacity: 0;
}
.animated{
  @include animation(float 1s ease 1);
}


@keyframes showNav{
  from{
    opacity: 0;
    @include transform(translate(0, -100px));
  }
  to{
    opacity: 1;
    @include transform(translate(0, 0));
  }
}
@keyframes showLeftSliderControl{
  from{
    opacity: 0;
    @include transform(translate(-20px,-50%));
  }
  to{
    opacity: 0.7;
    @include transform(translate(0, -50%));
  }
}
@keyframes showRightSliderControl{
  from{
    opacity: 0;
    @include transform(translate(20px,-50%));
  }
  to{
    opacity: 0.7;
    @include transform(translate(0, -50%));
  }
}
@keyframes floatingCloud_1 {
  0%{
    @include transform(translate(0,0));
  }
  100%{
    @include transform(translate(50px,10px));
  }
}
@keyframes floatingCloud_2 {
  0%{
    @include transform(translate(0,0));
  }
  100%{
    @include transform(translate(50px,-10px));
  }
}
@keyframes gradientBackground {
  0%{
    background: rgba($blue,0.8);
  }
  40%{
    background: rgba($blue,0.8);
  }
  60%{
    background: rgba($orange,0.7);
  }
  100%{
    background: rgba($orange,0.7);
  }
}
@keyframes gradientBorder {
  0%{
    border-color: rgba($blue,0.8);
  }
  40%{
    border-color: rgba($blue,0.8);
  }
  60%{
    border-color: rgba($orange,0.7);
  }
  100%{
    border-color: rgba($orange,0.7);
  }
}
@keyframes gradientFontColor {
  0%{
    color: rgba($blue,0.8);
    border-color: rgba($blue,0.8);
  }
  40%{
    color: rgba($blue,0.8);
    border-color: rgba($blue,0.8);
  }
  60%{
    color: rgba($orange,0.7);
    border-color: rgba($orange,0.7);
  }
  100%{
    color: rgba($orange,0.7);
    border-color: rgba($orange,0.7);
  }
}

