#filtre-localite{
  label{
    text-transform: uppercase;
    font-weight: normal;
    font-size: 14px;
    font-family: $fontMain;
  }

  .filtre#localite{
    font-weight: 700;
    color: $gray;
    border: none;
    text-transform: uppercase;
  }
}
.liste-etablissements{
  .etablissement{
    margin-bottom: 25px;
    padding: 30px 20px;
    font-family: $fontMain;
    font-size: 15px;
    box-shadow: 0 0 5px rgba($gray,0.2),0 5px 5px $light_gray;

    .contact-info{
      margin-bottom: 8px;
    }
    .info-col{
      display: inline-block;
      margin-right: 10px;
      &:last-child{
        margin-right: 0;
      }
    }

    .popup-galery{
      a{
        display: block;
        position: relative;
        z-index: 0;
        margin-bottom: 8px;
        &:last-child{
          margin-bottom: 0;
        }
        &:hover:before{
          display: block;
          content: '';
          width: 100%;
          height: 100%;
          background-color: rgba(#000, 0.4);
          position: absolute;
          z-index: 1;
          left: 0;
          top: 0;
        }
        &:hover:after{
          display: block;
          opacity: 0.6;
          content: '\f00e';
          font-family: FontAwesome, sans-serif;
          font-size: 40px;
          width: 40px;
          height: 40px;
          color: #fff;
          position: absolute;
          z-index: 2;
          left: 50%;
          top: 50%;
          @include transform(translate(-50%,-50%));
        }
      }
    }

    .tag{
      display: inline-block;
      background-color: #f8f8f8;
      padding: 5px;
      margin-right: 5px;
      margin-bottom: 5px;

      &:last-child{
        margin-right: 0;
      }
    }

    h4{
      font-family: $fontTitle;
      color: $orange;
      font-size: 20px;
      margin-bottom: 15px;
    }
    .adresse{
      margin-bottom: 10px;
    }

    .prestations{
      h5{
        text-transform: uppercase;
        font-weight: 700;
        color: $gray;
      }
      ul{
        padding: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        height: 70px;
        color: $gray;

        li:before{
          content: '\2043';
          display: inline-block;
          margin-right: 15px;
        }
      }
    }
  }
}