.articles{
  .article{
    display: inline-block;
    padding: 15px 15px 50px;
    border-bottom: solid 6px $orange;
    margin-bottom: 50px;
    box-shadow: 0 0 8px #e5e5e5;
    position: relative;
    .img-frame{
      position: relative;
      overflow: hidden;
      height: 250px;
      width: 100%;
      img{
        position: absolute;
        left: 50%;
        width: 100%;
        top: 0;
        @include transform(translate(-50%,0));
        @include transition(0.3s);
      }
    }

    .title{
      font-family: $fontTitle;
      margin:  30px 0;
      font-size: 20px;
      line-height: 28px;
      color: $gray;
    }
    .abstract{
      font-family: $fontMain;
      color: $gray;
    }
  }
  .row:nth-of-type(even){
    .col-sm-6:first-of-type{
      .article{
        border-color: $blue;
      }
    }
  }
  .row:nth-of-type(odd){
    .col-sm-6:nth-of-type(odd){
      .article{
        border-color: $blue;
      }
    }
  }
}

.article-title{
  text-align: center;
  text-transform: uppercase;
  font-family: $fontTitle;
  font-size: 40px;
  letter-spacing: 5px;
  color: $gray;
}

.hero-image{
  height: 500px;
  overflow: hidden;
  position: relative;
  margin-bottom: 30px;

  img{
    width: 100%;
    position: absolute;
    top: 50%;
    @include transform(translate(0,-50%));
  }
}

.article-suggestions{
  .section-title{
    margin-bottom: 30px !important;
  }
}

.suggestion-list{
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  position: relative;
  width: 100%;

  li{
    display: inline-block;
    margin-right: 15px;
    flex-grow: 1;
    width: 0;
    box-shadow: 0 0 8px #e5e5e5;

    &:last-child{
      margin-right: 0;
    }

    .list-item{
      display: inline-block;
      width: 100%;
      padding: 10px 10px 30px;
      border-bottom: solid 3px $orange;
      font-family: $fontTitle;
      color: $gray;

      .abstract{
        padding: 10px 0;
      }

      .image-frame{
        position: relative;
        height: 150px;
        overflow: hidden;

        img{
          width: 100%;
          position: absolute;
          top: 0;
          @include transition(0.2s);
        }
      }
    }
    .list-item:hover{
      img{
        @include transform(scale(1.2));
      }
    }
  }
}