.articles{
  .article{
    display: inline-block;
    padding: 15px 15px 50px;
    border-bottom: solid 6px $orange;
    margin-bottom: 50px;
    box-shadow: 0 0 8px #e5e5e5;
    position: relative;
    .img-frame{
      position: relative;
      overflow: hidden;
      height: 250px;
      width: 100%;
      img{
        position: absolute;
        left: 50%;
        width: 100%;
        top: 0;
        @include transform(translate(-50%,0));
        @include transition(0.3s);
      }
    }

    .title{
      font-family: $fontTitle;
      margin:  30px 0;
      font-size: 20px;
      line-height: 28px;
      color: $gray;
    }
    .abstract{
      font-family: $fontMain;
      color: $gray;
    }
  }
  .row:nth-of-type(even){
    .col-sm-6:first-of-type{
      .article{
        border-color: $blue;
      }
    }
  }
  .row:nth-of-type(odd){
    .col-sm-6:nth-of-type(odd){
      .article{
        border-color: $blue;
      }
    }
  }
}

.article-title{
  text-align: center;
  text-transform: uppercase;
  font-family: $fontTitle;
  font-size: 40px;
  letter-spacing: 5px;
  color: $gray;
}

.hero-image{
  height: 500px;
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;

  img{
    width: 100%;
    position: absolute;
    top: 50%;
    @include transform(translate(0,-50%));
  }
}

.section-title.small{
  margin-bottom: 30px !important;
}

.suggestion-list{
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  position: relative;
  width: 100%;
  margin-bottom: 40px;

  li{
    display: inline-block;
    margin-right: 15px;
    flex-grow: 1;
    width: 0;
    box-shadow: 0 0 8px #e5e5e5;

    &:last-child{
      margin-right: 0;
    }

    .list-item{
      display: inline-block;
      width: 100%;
      padding: 10px 10px 30px;
      border-bottom: solid 3px $orange;
      font-family: $fontTitle;
      color: $gray;

      .abstract{
        padding: 10px 0;
      }

      .image-frame{
        position: relative;
        height: 150px;
        overflow: hidden;

        img{
          width: 100%;
          position: absolute;
          top: 0;
          @include transition(0.2s);
        }
      }
    }
    .list-item:hover{
      img{
        @include transform(scale(1.2));
      }
    }
  }
}

.comments-section{
  .header{
    background-color: $light_gray;
    padding: 15px;
    margin-bottom: 20px;

    .section-title{
      font-family: $fontTitle;
      font-size: 35px;
    }
    #loginFormButton,
    #regFormButton{
      background: none;
      border: none;
      color: $orange;
    }
  }

}

#slick-forms{
  margin: 20px 0;
  background-color: #f8f8f8;
  .slide.img{
    background-size: cover;
    background-position: center top;
    height: 300px;
    width: 100%;
  }

  #login-form,
  #registration-form{
    padding: 20px;
    height: 300px;
    h3{
      font-family: $fontTitle;
      margin-top: 0;
    }
    label{
      display: block;
      font-weight: normal;
    }
    .form-input{
      display: block;
      width: 100%;
      height: 40px;
      padding: 0 10px;
      border: none;
    }
    button{
      display: block;
      width: 100%;
      height: 40px;
      font-family: $fontTitle;
      color: #fff;
      border: none;
    }
  }

  #login-form{
    button{
      background-color: $orange;
    }
  }
  #registration-form{
    button{
      background-color: $blue;
    }
  }
}

.comment-form,
.reply-form{
  margin: 10px 0;
  border-top: solid 1px $light_gray;
  padding: 15px 0;

  label{
    display: none;
  }
  .form-input{
    display: block;
    width: 100%;
    padding: 10px;
    border: solid 1px $light_gray;
  }
  .form-input::placeholder{
    color: #878787;
  }
}
.reply-form{

  .form-input{
    border-radius: 20px;
  }
}

.comment-list{
  background-color: $light_gray;

  .comment-container{
    margin-bottom: 15px;
    padding: 15px;
    position: relative;

    .author-name{
      font-weight: 700;
      font-size: 14px;
      color: $orange;
      margin-bottom: 10px;
    }

    .comment{
      padding: 15px;
      background-color: #fff;
      border-radius: 10px;
      margin-bottom: 5px;
      position: relative;
    }
    .publication-date{
      position: absolute;
      right: 10px;
      bottom: -20px;
      font-style: italic;
      font-size: 12px;
      text-align: right;
      color: #878787;
    }

    .likes-count{
      position: absolute;
      left: 0;
      bottom: -15px;
      z-index: 2000;

      .like-button{
        background-color: #fff;
        display: inline-block;
        position: relative;
        padding: 8px;
        border-radius: 12px;
        cursor: pointer;
        margin: 0;
        font-weight: normal;
        font-size: 12px;
        box-shadow: 0 2px 3px rgba(0,0,0,0.1);
      }
      .like-button:before{
        content: "\f004";
        font-family: FontAwesome, sans-serif;
        margin-right: 5px;
      }
      .like-button.liked:before{
        color: #FF0500;
      }
      input[type="checkbox"]{
        display: none;
      }
    }
  }
  .comment-container:last-child{
    margin-bottom: 0;
  }

  .reply-button{
    display: inline-block;
    color: $gray;
    border: none;
    background: none;
    padding: 8px 5px;
    font-size: 13px;
  }
  .reply-button:hover{
    color: $orange;
    text-decoration: underline;
  }
}

.replies-list{
  .comment-container{
    margin-bottom: 5px;
    padding: 5px 0 5px 40px;

    .author-name{
      font-weight: 700;
      font-size: 14px;
      color: $orange;
      margin-bottom: 5px;
    }

    .comment{
      padding: 15px;
      background-color: #fff;
      border-radius: 10px;
      margin-bottom: 5px;
    }
  }
}