div.zabuto_calendar {
  .badge-today{
    background-color: $gray;
  }
  .table{
    tr{
      td.event{
        div.day{
          background-color: $orange;
          color: #fff;
          @include transition(0.3s);
        }
        div.day:hover{
          background-color: $blue;
        }
      }
    }
  }
  .badge-event{
    background-color: $blue;
  }
}

.modal-content{
  border-radius: 0;
  box-shadow: 0 5px 15px rgba(0,0,0,0.4);

  .modal-header{
    background-color: $orange;
    color: #fff;
    font-family: $fontTitle;
    font-size: 25px;
  }
  .modal-footer{
    border: none;
    background: $light_gray;
    .btn{
      background: $orange;
      color: #fff;
      border-radius: 0;
      border: none;
      font-family: $fontMain;
    }
  }

  .event{
    padding-bottom: 25px;
    border-bottom: solid 2px $orange;
    margin-bottom: 15px;
  }
  .event:last-child{
    margin: 0;
  }
  .event_title{
    font-family: $fontTitle;
    font-size: 20px;
  }
  .event_picture_frame{
    margin-bottom: 10px;
  }
  .event_location,
  .annonceur{
    font-style: italic;
    margin-bottom: 10px;
    font-size: 13px;
  }
}
#menu-mois{
  padding: 15px 20px;
  margin: 0;
  background-color: #f8f8f8;
  display: none;

  &.visible{
    display: block;
  }

  &.fixed{
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
  }

  li{
    display: inline-block;
    margin: 0 2px 5px;

    a{
      padding: 8px 15px;
      border-radius: 3px;
      display: inline-block;
      color: #fff;
      background-color: #ccc;
      text-transform: uppercase;
      @include transition(0.3s);

      &:hover ,
      &.active{
        color: #fff;
        background-color: $orange;
      }
    }
  }
}

.category-list{
  list-style: none;
  padding: 0;

  a{
    display: block;
    padding: 5px 5px 5px 25px;
    color: $gray;
    position: relative;
    @include transition(0.3s);

    &:hover{
      color: $orange;
    }

    &:before{
      @include icon('\f105');
      display: inline-block;
      position: absolute;
      left: 0;
      @include centerVertical;
    }
  }
}

.category-menu{
  display: block;
  width: 100%;
  padding: 10px 5px;
  border: solid 2px #ddd;
}