.slick{
  width: 100%;
  overflow: hidden;
  .slide{
    margin: 0 20px;
    position: relative;
    overflow: hidden;
    img{
      width: 100%;
      @include transition(0.3s);
    }
    .slide-description{
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      z-index: 2;
      height: 100px;
      text-align: center;
      color: #fff;
      font-size: 18px;
      text-transform: uppercase;
      font-family: $fontTitle;
      background-color: rgba($orange, 0.85);

      p{
        position: absolute;
        margin: 0;
        padding: 0;
        width: 90%;
        left: 50%;
        top: 50%;
        @include transform(translate(-50%,-50%));
      }
    }
  }
  .slide:hover{
    img{
      @include transform(scale(1.1));
    }
  }
  .slide:nth-of-type(odd){
    .slide-description{background-color:  rgba($blue, 0.85)}
  }
}