*,
*:focus{
  outline: none;
}
html{
  height: 100%;
  box-sizing: border-box;
}
label{
  font-weight: normal;
  cursor: pointer;
}

img{
  position: relative;
  max-width: 100%;
}
body{
  color: #50585C;
  min-height: 100%;
  padding-bottom: 542px;
  position: relative;
  margin: 0;

  &:before{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.4;
  }
}
blockquote{
  font-family: $fontTitle;
  font-size: 22px;
  margin: 80px 0;
  color: #60655b;
}
h2, h1, h3{
  font-family: $fontTitle;
}
h1{ font-size: 38px;}
h2{ font-size: 32px;}
h3{ font-size: 22px;}
.rel{
  position: relative;
}
a:hover,
a:focus{
  text-decoration: none;
  outline: none;
}

.btn{
  padding: 10px 15px;
  cursor: pointer;
  color: #fff;
  @include transition(0.3s);

  &:hover{
    color: #fff;
  }

  &.blue{
    background-color: $blue;

    &:hover{
      background-color: darken($blue,10%);
    }
  }
  &.orange{
    background-color: $orange;
    &:hover{
      background-color: darken($orange,10%);
    }
  }
}

.mobile-only{
  display: none !important;
}

.error404{
  background: url("../img/404.png") no-repeat right 100px center, $blue;
  padding: 50px 0 150px;
  color: #fff;
  h1{
    font-size: 50px;
    font-family: $fontTitle;
    margin: 30px 0 50px;
  }
  a{
    color: $gray;
    text-decoration: underline;
  }
  form{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    color: $gray;
  }
  input{
    display: inline-block;
    flex-grow: 1;
    border: none;
    padding: 0 20px;
  }
  button{
    width: 50px;
    height: 50px;
    border: none;
    background-color: $orange;
    color: #fff;
    cursor: pointer;
    @include transition(0.3s);
  }
  button:hover{
    background-color: $blue;
  }
}

.section-title{
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  position: relative;
  margin: 50px 0;
  h2, h3,
  h1{
    font-family: $fontTitle;
    font-size: 45px;
    color: $blue;
    padding: 0 10px;
    display: inline-block;
    background-color: #fff;
  }
  h3{
    font-size: 25px;
  }
  small{
    font-family: $fontMain;
    display: block;
  }
}

.section-title.left{
  text-align: left;
  margin: 0 0 20px;

  h2,
  h1{
    padding: 0 10px 0 0;
  }
}
.section-title:after{
  content: '';
  display: block;
  position: absolute;
  left: 0;
  z-index: -1;
  top: 50%;
  width: 100%;
  height: 2px;
  background-color: $light_gray;
}

.back-to-top{
  position: fixed;
  right: 15px;
  bottom: 13px;
  display: inline-block;
  visibility: hidden;
  opacity: 0.8;
  padding: 12px 15px;
  cursor: pointer;
  background-color: $orange;
  color: #fff;
  @include transition(0.3s);
}
.back-to-top.visible{
  visibility: visible;
}

.breadcrumbs{
  list-style: none;
  padding: 0 0 20px;
  text-align: center;
  border-bottom: solid 2px $light_gray;

  li{
    display: inline-block;
    vertical-align: top;
    a{
      padding: 10px;
      text-transform: uppercase;
      font-family: $fontMain;
      color: $gray;
    }
  }
  li:after{
    content: '>';
    display: inline-block;
    margin: 0;
  }
  li:last-of-type{
    a{
      color: $orange;
    }
  }
  li:last-of-type:after{
    content: '';
    display: none;
  }
}
.breadcrumbs.left{
  text-align: left;
  border: none;
  padding: 20px 0 0;
}

.banner-image{
  background-size: cover;
  background-position: center center;
  padding: 80px 0;
  position: relative;
  margin-bottom: 40px;
}
.page-title{
  color: #fff;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-family: $fontTitle;
  position: relative;
  z-index: 1;

}
.banner-image:after{
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #000;
  opacity: 0.4;
  left: 0;
  top: 0;
  z-index: 0;
}
.sharethis-inline-share-buttons{
  margin: 10px 0 15px;
}


.newsletter-bar{
  padding: 50px 0;
  margin-top: 30px;
  color: #fff;
  position: relative;
  @include animation(gradientBackground 10s linear infinite alternate);

  &:before{
    content: '';
    position: absolute;
    display: block;
    z-index: 0;
    top: 0;
    opacity: 0.2;
    right: 20%;
    width: 128px;
    height: 128px;
    background: url("../img/cloud.png") no-repeat center center;
    background-size: cover;
    @include animation(floatingCloud_1 5s linear infinite alternate);
  }
  &:after{
    content: '';
    position: absolute;
    display: block;
    z-index: 0;
    top: 85px;
    right: 25%;
    opacity: 0.2;
    width: 120px;
    height: 120px;
    background: url("../img/cloud2.png") no-repeat center center;
    background-size: cover;
    @include animation(floatingCloud_2 10s linear infinite alternate);
  }


  h3{
    font-size: 30px;
    letter-spacing: 3px;
    margin-top: 0;
  }

  .form-row{
    font-weight: normal;
    display: block;
    width: 100%;

    .form-input{
      display: block;
      width: 100%;
      padding: 10px;
      border: none;
      color: $gray;
    }

    button[type="submit"]{
      background: transparent;
      color: #fff;
      border: solid 2px rgba(#fff,0.1);
      border-radius: 30px;
      padding: 10px 30px;
      @include transition(0.3s);

      &:hover{
        border-color: #fff;
      }

      &:after{
        content: "\f1d8";
        font-family: FontAwesome, sans-serif;
        font-size: 18px;
        margin-left: 15px;
      }
    }
  }
}
.grid-sizer,
.grid-item{
  width: 25%;
  padding: 3px;

  img{
    width: 100%;
  }
}

.grid-item:hover:before{
  content: '';
  display: block;
  position: absolute;
  width: calc(100% - 5px);
  height: calc(100% - 5px);
  left: 50%;
  top: 50%;
  @include transform(translate(-50%,-50%));
  background-color: rgba(#000,0.3);
  z-index: 1;
}
.grid-item:hover:after{
  content: '\f002';
  font-family: FontAwesome, sans-serif;
  position: absolute;
  font-size: 30px;
  color: #fff;
  opacity: 0.6;
  left: 50%;
  top: 50%;
  @include transform(translate(-50%,-50%));
  z-index: 2;
}

.pagination{
  width: 100%;
  padding: 10px 0;
  overflow: hidden;
  border-top: solid 1px $light_gray;
  list-style: none;

  li{
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
    margin-bottom: 5px;


    a, span{
      display: inline-block;
      padding: 10px 15px;
      font-weight: 700;
      background-color: rgba($blue,0.8);
      color: #fff;
      border-color: #fff;
    }
    a.first{

    }
  }
}

#reset-password-form,
.user-profile-form{
  padding: 0 0 100px;

  .form-input{
    display: block;
    width: 100%;
    margin-bottom: 5px;
    padding: 10px;
    border: solid 3px $light_gray;
  }
  .submit-button{
    display: block;
    width: 100%;
    padding: 15px;
    border: none;
    background-color: $blue;
    color: #fff;
    @include transition(0.3s);

    &:hover{
      background-color: darken($blue, 10%);
    }
  }

}
.user-profile-form{
  padding-bottom: 20px;
}

.form-input.error{
  box-shadow: 0 0 15px red !important;
}
.error-message{
  display: block;
  padding: 5px 0;
  color: red;
  font-style: italic;
  font-size: 11px;
  margin-bottom: 5px;
}
.no-result{
  padding: 40px 15px;
  background: #f8f8f8;
  font-style: italic;
  margin: 20px 0;
}

.sitemap{
  ul{
    list-style: none;
    padding: 0;
  }
  a{
    display: inline-block;
    vertical-align: bottom;
    padding: 10px 10px 0;
  }
  .level-1{
    a{
      color: $orange;
      font-family: $fontTitle;
      font-size: 20px;
    }
  }
  .level-2{
    border-left: solid 2px $light_gray;
    li:before{
      content: '';
      display: inline-block;
      vertical-align: bottom;
      width: 40px;
      height: 2px;
      background-color: $light_gray;
    }
    a{
      color: $gray;
      font-family: $fontMain;
      font-size: 15px;
    }
  }
  .level-3{
    margin-left: 40px;
    border-left: solid 2px $light_gray;
    li:before{
      content: '';
      display: inline-block;
      vertical-align: bottom;
      width: 40px;
      height: 2px;
      background-color: $light_gray;
    }
    a{
      color: $gray;
      font-family: $fontMain;
    }
  }
}