header{
  margin-bottom: 30px;
  background-color: #fff;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  @include transition(1s);
}

#top_header{
  font-size: 13px;
  text-transform: uppercase;
  font-family: $fontMain;
  font-weight: 300;
  z-index: 10;
  position: relative;
  color: $gray;
  padding: 10px 0;
  margin-bottom: 520px;
  border-bottom: solid 2px $light_gray;

  ul{
    list-style: none;
    margin: 0;
    padding: 0;

    li{
      display: inline-block;
    }
  }
}

.top_nav_bar{
  text-align: center;

  .link_space{
    width: 30px;
  }
  a{
    padding: 15px;
    color: $gray;
  }

  .slash{
    margin-right: 15px;
  }
}
.top_nav_bar.mobile-only{
  a{
    display: block;
    padding: 8px 15px;

  }
  a:focus,
  a:hover{
    color: $orange;
  }
 }

#logo_bar{
  padding: 80px 0 15px;
  text-align: center;
  @include transition(0.3s);

  img{
    height: 280px;
    @include transition(0.3s);
  }
  .slogan{
    color: $gray;
    letter-spacing: 8px;
    margin-top: 20px;
    font-size: 13px;
  }
}
.nav-menu{
  border-top: solid 2px $light_gray;
  border-bottom: solid 2px $light_gray;
  text-align: center;
  margin-top: 80px;
  @include transition(0.3s);

  .container{
    width: auto;
  }

  ul{
    list-style: none;
    margin: 0;
    padding: 0;

    li{
      text-align: left;
    }
  }

  .main-menu{
    li{
      display: inline-block;
      vertical-align: top;
      margin: 0 5px;
    }
  }

  .menu-item{
    text-transform: uppercase;
    color: $gray;
    font-family: $fontTitle;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    padding: 10px 8px;
    position: relative;
    @include transition(0.3s);


    img{
      position: absolute;
      left: 50%;
      padding: 15px 0;
      top: -82px;
      @include transition(0.3s);
      @include transform(translate(-50%,0));


    }
  }

  .menu-item:hover,
  .menu-item.active,
  .sub-menu:hover > .menu-item{
    box-shadow:inset 0 -3px 0 $orange;

    img{
      @include transform(translate(-50%,-8px));
    }
  }
  .sub-menu{
    position: relative;
    ul{
      display: none;
      position: absolute;
      z-index: 10;
      left: 0;
      padding: 10px 0 15px;
      background-color: #fff;
    }
    li{
      display: block;

      a{
        display: block;
        padding: 6px 0 5px;
        color: $gray;
        font-family: $fontMain;
        min-width: 250px;
        border-bottom: solid 1px transparent;
        @include transition(0.3s);
      }
      a:hover{
        border-color: $orange;
      }
    }
  }

  @media (min-width: 992px) {
    .sub-menu:hover > ul{
      display: block;
      animation: navSlideDown 0.3s 1;
    }
  }
}

#navToggle{
  display: none;
  position: fixed;
  z-index: 101;
  top: 15px;
  right: 5px;
  background: $blue;
  border: none;
  color: #fff;
  padding: 5px 15px;
}

.top_search_bar{
  position: absolute;
  padding: 5px 0;
  background-color: rgba($blue,0.2);
  left: 50%;
  width: 100%;
  display: none;
  z-index: 0;
  @include transform(translate(-50%,0));
  @include transition(0.4s);
  top: 20px;
  .container{
    position: relative;
  }

  form{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
  }
  input{
    display: inline-block;
    flex-grow: 1;
    padding: 10px;
    border: none;
    background: none;
  }
  button{
    width: 50px;
    height: 50px;
    border: none;
    background: none;
    color: $gray;
    cursor: pointer;
    @include transition(0.3s);
  }
  button:hover{
    background-color: $blue;
  }
}
.top_search_bar.visible{
  top: 40px;
  display: block;
}
.lang_menu,
.top_nav_bar.mobile-only .lang_menu{
  a{
    position: relative;
    padding-left: 35px;

    &:before{
      content: '';
      display: inline-block;
      width: 22px;
      height: 15px;
      background-size: cover;
      position: absolute;
      left: 0;
      top: 50%;
      @include transform(translate(0,-50%));
    }
  }
  .lang-EN:before{
    background: url("../img/EN.png") no-repeat;
    background-size: cover;
  }
  .lang-FR:before{
    background: url("../img/FR.png") no-repeat;
    background-size: cover;
  }
}

header.fixed{
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5;
  width: 100%;
  margin: 0;
  @include animation(showNav 0.7s ease 1);


  #logo_bar{
    padding: 10px 0 !important;
    .slogan{
      display: none;
    }
    img{
      height: 100px;
    }
  }

  .nav-menu{
    margin-top: 0;

    .menu-item{
      font-size: 13px;
      padding: 10px 10px 10px 30px;

      img{
        position: absolute;
        left: 5px;
        top: 2px;
        padding: 0;
        height: 30px !important;
      }
    }

    .menu-item:hover,
    .menu-item.active,
    .sub-menu:hover > .menu-item{
      img{
        @include transform(translate(-50%,0));
      }
    }
  }
}
.nav-login-button,
.nav-logout-button{
  display: inline-block;
  padding: 5px 10px 5px 30px !important;
  color: $gray;
  background: none;
  position: relative;

  &:before{
    content: '\f007';
    font-family: FontAwesome, sans-serif;
    position: absolute;
    left: 10px;
    @include centerVertical;
  }
}

.nav-logout-button{
  background-color: #f8f8f8;
  display: inline-block !important;
  &:before{
    content: '\f011';
    color: #fff !important;
    background-color: $orange;
    padding: 1px 5px;
    border-radius: 100%;
    left: 5px;
  }
}