:root{
  --font-size: 17px;
}
.login-registration-forms{
  padding-bottom: 100px;
  form{
      padding: 20px 15px;

    h2{
      margin-bottom: 40px;
    }

    .form-row{
      margin-bottom: 8px;
    }
    label{
      font-weight: normal;
      display: block;
      width: 100%;
      margin-bottom: 5px;

      &:last-child{
        margin-bottom: 0;
      }

      .form-input{
        display: block;
        width: 100%;
        padding: 10px;
        font-size: var(--font-size);
        border: solid 2px $light_gray;
      }
    }
    button[type="submit"]{
      border: none;
      padding: 10px 20px;
      display: block;
      width: 100%;
      color: #fff;
      @include transition(0.3s);
    }
  }
  #registration-form{


    button[type="submit"]{
      background-color: $blue;
      &:hover{
        background-color: darken($blue,10%);
      }
    }
  }
  #login-form{
    position: relative;
    &:before{
      content: '';
      display: block;
      position: absolute;
      left: -50px;
      top: 50%;
      @include transform(translate(0, -50%));
      height: 80%;
      width: 2px;
      background-color: $light_gray;
    }

    button[type="submit"]{
      background-color: $orange;

      &:hover{
        background-color: darken($orange,10%);
      }
    }
  }
}