@media (max-width: 991px) {
  html{
    width: 100%;
    overflow-x: hidden;
  }
  //navbar ovveride
  .navbar-nav{
    float: none;
    text-align: center;

    li{
      float: none;
      display: inline-block;
    }
  }

  .mobile-only{
    display: block !important;
  }

  #top_header{
    opacity: 0;
    margin-bottom: 400px;
  }

  #logo_bar{
    img{
      height: auto;
      width: 65%;
    }
  }

  #navToggle{
    display: block;
  }

  .nav-menu{
    position: fixed;
    z-index: 100;
    height: 100%;
    width: 100%;
    background-color: #fff;
    padding: 10px 0;
    top: 0;
    left: -100%;
    margin: 0;
    border: 0;
    @include transition(0.3s);

    .main-menu{
      padding-top: 10px;
      margin-top: 30px;
      position: relative;
      li{
        display: block;
        margin: 0;
      }
    }

    .menu-item{
      display: block;
      padding-left: 50px;
      margin-bottom: 15px;

      img{
        left: 25px;
        top: 3px;
        height: 35px;
      }
    }
    .menu-item:hover,
    .menu-item.active,
    .sub-menu:hover > .menu-item{
      box-shadow:inset 3px 0 0 $orange;
    }

    .sub-menu{
      height: 43px;
      overflow: hidden;
      @include transition(0.3s);
      ul{
        display: block;
        position: relative;
        background: none;
      }
    }
  }

  .nav-menu.visible {
    @include transform(translate(100%, 0));
  }

  #footer_bottom{
    text-align: center;
  }
  .footer_logo{
    text-align: center;
    img{
      margin:  0 auto 20px;
    }
  }

  .slick{
    .slide{
      margin: 0 10px;
      .slide-description{
        height: 80px;
        font-size: 15px;
      }
    }
  }

  .articles{
    .article{
      margin-bottom: 30px;
      .img-frame{
        height: 200px;
      }

      .title{
        margin:  15px 0;
      }
    }
  }
}

@media (max-width: 768px){
  #top_header{
    margin-bottom: 400px;
  }

  .article-title{
    font-size: 30px;
    margin-bottom: 25px;
  }

  .hero-image{
    height: auto;
    overflow: visible;
    position: relative;
    margin-bottom: 30px;

    img{
      width: 100%;
      position: relative;
      top: 0;
      @include transform(translate(0,0));
    }
  }

  .suggestion-list{
    display: block;

    li{
      display: block;
      margin: 15px 0;
      width: 100%;

      .list-item{
        display: inline-block;
        width: 100%;
        padding: 10px 10px 30px;
        border-bottom: solid 3px $orange;
        font-family: $fontTitle;
        color: $gray;

        .abstract{
          padding: 10px 0;
        }

        .image-frame{
          position: relative;
          height: auto;
          overflow: visible;

          img{
            position: relative;
            top: 0;
          }
        }
      }
      .list-item:hover{
        img{
          @include transform(scale(1));
        }
      }
    }
  }

  .liste-etablissements{
    .etablissement{

      .prestations{
        ul{
          height: 100px;
        }
      }

    }
  }

  .carousel{
    .controls{
      span{
        width: 50px;
        display: inline-block;
        padding: 5px 0;
        text-align: center;
        background-color: $orange;
        color: #fff;
        cursor: pointer;
        opacity: 0.5;
        @include transition(0.5s);
      }
      .prev{
        left: 5px;
      }
      .next{
        right: 5px;
      }
    }
  }
}

@media (max-width: 640px){
  #top_header{
    margin-bottom: 350px;
  }
}

@media (max-width: 560px){
  #top_header{
    margin-bottom: 320px;
  }

  .section-title.left{
    h2{
      font-size: 25px;
    }
  }
}

@media (max-width: 480px) {
  .slick{
    .slide{
      margin: 0 4px;
      .slide-description{
        font-size: 15px;
      }
    }
  }

  #top_header{
    margin-bottom: 300px;
  }

  .liste-etablissements{
    .etablissement{
      .photos{
        .col-xs-6{
          width: 100%;
          float: none;
          margin-bottom: 15px;
        }
        .col-xs-6:last-child{
          margin-bottom: 0;
        }
      }

    }
  }
}

@media (max-width: 380px){
  #top_header{
    margin-bottom: 230px;
  }
}