@media (max-width: 1366px) {
  .error404 {
    background: $blue;
  }
}
@media (max-width: 991px) {
  html{
    width: 100%;
    overflow-x: hidden;
  }

  body{
    padding-bottom: 830px;
  }
  //navbar ovveride
  .navbar-nav{
    float: none;
    text-align: center;

    li{
      float: none;
      display: inline-block;
    }
  }

  .mobile-only{
    display: block !important;
  }
  #top_header{
    border: none;
    z-index: 101;
  }
  .top_search_bar.visible{
    position: fixed;
    bottom: 0;
    z-index: 200;
    top: auto;
    background-color: $light_gray;
  }
  .top_nav_bar{
    display: none;
  }

  #logo_bar{
    img{
      height: auto;
      width: 65%;
    }
  }

  #navToggle{
    display: block;
  }

  .nav-menu{
    position: fixed;
    overflow-y: scroll;
    z-index: 100;
    height: 100%;
    width: 100%;
    background-color: #fff;
    padding: 10px 0;
    top: 0;
    left: -100%;
    margin: 0;
    border: 0;
    @include transition(0.3s);

    .main-menu{
      padding-top: 10px;
      margin-top: 30px;
      position: relative;
      li{
        display: block;
        margin: 0;
      }
    }

    .menu-item{
      display: block;
      padding-left: 50px;
      margin-bottom: 15px;

      img{
        left: 25px;
        top: 3px;
        height: 35px;
        padding: 0;
      }
    }
    .menu-item:hover,
    .menu-item.active,
    .sub-menu:hover > .menu-item{
      box-shadow:inset 3px 0 0 $orange;
    }

    .sub-menu{
      height: 43px;
      overflow: hidden;
      @include transition(0.3s);
      ul{
        display: block;
        position: relative;
        background: none;
      }
    }
  }

  .nav-menu.visible {
    @include transform(translate(100%, 0));
  }

  .nav-login-button{

    display: inline-block !important;
    padding: 5px 48px !important;
    background-color: $blue !important;
    color: #fff !important;

    &:before{
      left: 20px;
    }
  }

  #footer_bottom{
    text-align: center;
  }
  .footer_logo{
    text-align: center;
    img{
      margin:  0 auto 20px;
    }
  }

  .slick{
    .slide{
      margin: 0 10px;
      .slide-description{
        height: 80px;
        font-size: 15px;
      }
    }
  }

  .articles{
    .article{
      margin-bottom: 30px;
      .img-frame{
        height: 200px;
      }

      .title{
        margin:  15px 0;
      }
    }
  }

  #myModal{
    .cover-image{
      height: 200px;
    }
    .modal-content{
      padding: 15px;
    }
    h2{
      font-size: 30px;
      margin-bottom: 20px;
    }
    p{
      font-size: 14px;
    }

    .btn{
      font-family: $fontTitle;
      font-size: 16px;
    }

    .modal-dialog{
      width: 92%;
    }
  }
}

@media (max-width: 768px){

  body{
    padding-bottom: 430px;
  }

  #top_header{
    margin-bottom: 400px;
  }


  .lang_menu,
  .top_nav_bar.mobile-only .lang_menu{
    a{
      padding-left: 50px;
      &:before{
        left: 15px;
      }
    }
  }

  .article-title{
    font-size: 30px;
    margin-bottom: 25px;
  }

  .hero-image{
    height: auto;
    overflow: visible;

    img{
      width: 100%;
      position: relative;
      top: 0;
      @include transform(translate(0,0));
    }
  }

  .section-title{
    h2, h3,
    h1{
      font-size: 30px;
    }
    h3{
      font-size: 25px;
    }
  }
  .suggestion-list{
    display: block;

    li{
      display: block;
      margin: 15px 0;
      width: 100%;

      .list-item{
        display: inline-block;
        width: 100%;
        padding: 10px 10px 30px;
        border-bottom: solid 3px $orange;
        font-family: $fontTitle;
        color: $gray;

        .abstract{
          padding: 10px 0;
        }

        .image-frame{
          position: relative;
          height: auto;
          overflow: visible;

          img{
            position: relative;
            top: 0;
          }
        }
      }
      .list-item:hover{
        img{
          @include transform(scale(1));
        }
      }
    }
  }

  .liste-etablissements{
    .etablissement{

      .prestations{
        ul{
          height: 100px;
        }
      }
    }
  }

  #search_result_evenements,
  .evenement-mois{
    margin-top: 50px;

    .liste-evenements{

      .list-item{

        .col-xs-7{
          padding-left: 0;
        }

        .event_title{
          font-size: 16px;
        }
        .event_location,
        .annonceur,
        .event_date{
          font-size: 12px;
        }
      }
    }
  }

  .carousel{
    .controls{
      span{
        width: 50px;
        display: inline-block;
        padding: 5px 0;
        text-align: center;
        background-color: $orange;
        color: #fff;
        cursor: pointer;
        opacity: 0.5;
        @include transition(0.5s);
      }
      .prev{
        left: 5px;
      }
      .next{
        right: 5px;
      }
    }
  }

  .grid-sizer,
  .grid-item{
    width: 33.333%;
  }

  #menu-mois{
    padding: 10px 50px 10px 5px;
    &.fixed{
      width: 100%;
      text-align: left;
    }

    li{
      display: inline-block;
      margin: 0 2px 5px;

      a{
        padding: 5px 15px;
        font-size: 11px;
        display: inline-block;
      }
    }
  }


  .modal.slide-modal{
    .flex-row{
      display: block;
    }
    .flex-col.background-cover{
      width: 100%;
    }

    .flex-col.content{
      width: 100%;
      padding: 25px;
    }
  }
}

@media (max-width: 640px){
  #top_header{
    margin-bottom: 350px;
  }
  .articles.tiles{
    display: block;

    .article {
      width: 100%;
    }
  }
}

@media (max-width: 560px){
  #top_header{
    margin-bottom: 320px;
  }

  .section-title.left{
    h2{
      font-size: 25px;
    }
  }
  #myModal{

    .cover-image{
      height: 180px;
    }
    .modal-content{
      padding: 15px;
    }
    h2{
      font-size: 20px;
      margin-bottom: 15px;
    }
    p{
      font-size: 14px;
    }

    .btn{
      font-size: 14px;
    }

    //Modal positionning
    .modal-dialog{
      position: absolute;
      margin: 0;
      left: 50%;
      top: 10%;
      @include transform(translate(-50%,-5%));
    }
  }
}

@media (max-width: 480px) {
  .slick{
    .slide{
      margin: 0 4px;
      .slide-description{
        font-size: 15px;
      }
    }
  }

  #top_header{
    margin-bottom: 300px;
  }

  .liste-etablissements{
    .etablissement{
      .photos{
        .col-xs-6{
          width: 100%;
          float: none;
          margin-bottom: 15px;
        }
        .col-xs-6:last-child{
          margin-bottom: 0;
        }
      }

    }
  }

  .grid-sizer,
  .grid-item{
    width: 50%;
  }


  #search_result_evenements,
  .evenement-mois{

    .liste-evenements{
      display: block;

      .list-item{
        width: 100%;
      }
    }
  }
  #myModal{
    .cover-image{
      height: 200px;
      width: 100%;
    }
    .modal-content{
      padding: 0;
    }
    h2{
      font-size: 25px;
      margin-bottom: 20px;
    }
    p{
      font-size: 14px;
    }

    .btn{
      font-size: 14px;
      padding: 10px;
    }

    modal-dialog{
      left: 50%;
      top: 5%;
      @include transform(translate(-50%,-50%));
    }
  }

  .modal.slide-modal{
    .flex-row{
      display: block;
    }
    .flex-col.background-cover{
      width: 100%;
      min-height: 200px;
    }

    .modal-xl{
      width: 90%;
    }

    .flex-col.content{
      width: 100%;
      padding: 15px;
    }
    h2{
      font-size: 22px;
    }

    .modal-button{
      font-size: 14px !important;
      padding: 10px;
      border-radius: 3px;
    }

    .footer{
      margin-top: 25px;
    }
  }
}

@media (max-width: 380px){
  #top_header{
    margin-bottom: 300px;
  }
}