.search_result_category{
  margin-bottom: 20px;

  &:last-child{
    margin: 0;
  }



  .search_result_category_header{
    background: $light_gray;
    display: block;
    width: 100%;
    text-align: left;
    cursor: pointer;
    padding: 10px 15px 10px 15px;
    border: none;
    font-size: 16px;
    font-family: $fontTitle;
    color: $gray;
    margin-bottom: 10px;
    @include transition(0.3s);
    position: relative;

    &:hover {
      background-color: $orange;
      color: #fff;
    }

    &:after{
      content: "\f067";
      font-family: FontAwesome, sans-serif;
      position: absolute;
      right: 15px;
    }
  }
}

#search_result_evenements,
.evenement-mois{
  margin-top: 150px;

  &:first-child{
    margin-top: 0;
  }

  .liste-evenements{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    .list-item{
      width: 49%;
      margin-bottom: 10px;
      border: solid 1px $light_gray;

      .col-xs-9{
        padding: 10px 0 15px;
      }

      .event_title{
        font-family: $fontTitle;
        font-size: 20px;
        color: $blue;
        margin-bottom: 10px;
        padding: 5px 10px 0;
      }
      .event_location,
      .annonceur,
      .event_date{
        padding: 0 10px 5px 30px;
        font-size: 13px;
        position: relative;
        color: $gray;

        &:before{
          font-family: FontAwesome, sans-serif;
          position: absolute;
          left: 10px;
          color: #B7B7B7;
          top: 0;
        }
      }

      .event_location:before{
        content: '\f015';
      }
      .event_date:before{
        content: '\f073';
      }
      .annonceur:before{
        content: '\f007';
      }
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}
