@media (max-width: 991px) {
  .navbar-header {
    float: none; }

  .navbar-left, .navbar-right {
    float: none !important; }

  .navbar-toggle {
    display: block; }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }

  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px; }

  .navbar-collapse.collapse {
    display: none !important; }

  .navbar-nav {
    float: none !important;
    margin-top: 7.5px; }

  .navbar-nav > li {
    float: none; }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px; }

  .collapse.in {
    display: block !important; } }
@keyframes navSlideDown {
  from {
    opacity: 0;
    -webkit-transform: translate(0, -20px);
    -moz-transform: translate(0, -20px);
    -o-transform: translate(0, -20px);
    -ms-transform: translate(0, -20px);
    transform: translate(0, -20px); }
  to {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); } }
@keyframes float {
  from {
    opacity: 0;
    -webkit-transform: translate(0, 100px);
    -moz-transform: translate(0, 100px);
    -o-transform: translate(0, 100px);
    -ms-transform: translate(0, 100px);
    transform: translate(0, 100px); }
  to {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); } }
.slideUp {
  opacity: 0; }

.animated {
  -webkit-animation: float 1s ease 1;
  -moz-animation: float 1s ease 1;
  -o-animation: float 1s ease 1;
  -ms-animation: float 1s ease 1;
  animation: float 1s ease 1; }

@keyframes showNav {
  from {
    opacity: 0;
    -webkit-transform: translate(0, -100px);
    -moz-transform: translate(0, -100px);
    -o-transform: translate(0, -100px);
    -ms-transform: translate(0, -100px);
    transform: translate(0, -100px); }
  to {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); } }
@keyframes showLeftSliderControl {
  from {
    opacity: 0;
    -webkit-transform: translate(-20px, -50%);
    -moz-transform: translate(-20px, -50%);
    -o-transform: translate(-20px, -50%);
    -ms-transform: translate(-20px, -50%);
    transform: translate(-20px, -50%); }
  to {
    opacity: 0.7;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%); } }
@keyframes showRightSliderControl {
  from {
    opacity: 0;
    -webkit-transform: translate(20px, -50%);
    -moz-transform: translate(20px, -50%);
    -o-transform: translate(20px, -50%);
    -ms-transform: translate(20px, -50%);
    transform: translate(20px, -50%); }
  to {
    opacity: 0.7;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%); } }
@keyframes floatingCloud_1 {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); }
  100% {
    -webkit-transform: translate(50px, 10px);
    -moz-transform: translate(50px, 10px);
    -o-transform: translate(50px, 10px);
    -ms-transform: translate(50px, 10px);
    transform: translate(50px, 10px); } }
@keyframes floatingCloud_2 {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); }
  100% {
    -webkit-transform: translate(50px, -10px);
    -moz-transform: translate(50px, -10px);
    -o-transform: translate(50px, -10px);
    -ms-transform: translate(50px, -10px);
    transform: translate(50px, -10px); } }
@keyframes gradientBackground {
  0% {
    background: rgba(137, 177, 213, 0.8); }
  40% {
    background: rgba(137, 177, 213, 0.8); }
  60% {
    background: rgba(251, 118, 96, 0.7); }
  100% {
    background: rgba(251, 118, 96, 0.7); } }
*,
*:focus {
  outline: none; }

html {
  height: 100%;
  box-sizing: border-box; }

body {
  color: #50585C;
  min-height: 100%;
  padding-bottom: 542px;
  position: relative;
  margin: 0; }

h2, h1, h3 {
  font-family: "deliusregular", sans-serif; }

h1 {
  font-size: 35px; }

h2 {
  font-size: 28px; }

h3 {
  font-size: 22px; }

.rel {
  position: relative; }

a:hover,
a:focus {
  text-decoration: none;
  outline: none; }

.mobile-only {
  display: none !important; }

.error404 {
  background: url("../img/404.png") no-repeat right 100px center, #89b1d5;
  padding: 50px 0 150px;
  color: #fff; }
  .error404 h1 {
    font-size: 50px;
    font-family: "deliusregular", sans-serif;
    margin: 30px 0 50px; }
  .error404 a {
    color: #5c6468;
    text-decoration: underline; }
  .error404 form {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    color: #5c6468; }
  .error404 input {
    display: inline-block;
    flex-grow: 1;
    border: none;
    padding: 0 20px; }
  .error404 button {
    width: 50px;
    height: 50px;
    border: none;
    background-color: #fb7660;
    color: #fff;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  .error404 button:hover {
    background-color: #89b1d5; }

.section-title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  position: relative;
  margin: 50px 0; }
  .section-title h2, .section-title h3 {
    font-family: "deliusregular", sans-serif;
    font-size: 45px;
    color: #89b1d5;
    padding: 0 10px;
    display: inline-block;
    background-color: #fff; }
  .section-title h3 {
    font-size: 25px; }
  .section-title small {
    font-family: "Open Sans", sans-serif;
    display: block; }

.section-title.left {
  text-align: left;
  margin: 0 0 20px; }
  .section-title.left h2 {
    padding: 0 10px 0 0; }

.section-title:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  z-index: -1;
  top: 50%;
  width: 100%;
  height: 2px;
  background-color: #f2f2f2; }

.back-to-top {
  position: fixed;
  right: 15px;
  bottom: 13px;
  display: inline-block;
  visibility: hidden;
  opacity: 0.8;
  padding: 12px 15px;
  cursor: pointer;
  background-color: #fb7660;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.back-to-top.visible {
  visibility: visible; }

.breadcrumbs {
  list-style: none;
  padding: 0 0 20px;
  text-align: center;
  border-bottom: solid 2px #f2f2f2; }
  .breadcrumbs li {
    display: inline-block;
    vertical-align: top; }
    .breadcrumbs li a {
      padding: 10px;
      text-transform: uppercase;
      font-family: "Open Sans", sans-serif;
      color: #5c6468; }
  .breadcrumbs li:after {
    content: '>';
    display: inline-block;
    margin: 0; }
  .breadcrumbs li:last-of-type a {
    color: #fb7660; }
  .breadcrumbs li:last-of-type:after {
    content: '';
    display: none; }

.breadcrumbs.left {
  text-align: left;
  border: none;
  padding: 20px 0 0; }

.banner-image {
  background-size: cover;
  background-position: center center;
  padding: 80px 0;
  position: relative;
  margin-bottom: 40px; }

.page-title {
  color: #fff;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-family: "deliusregular", sans-serif;
  position: relative;
  z-index: 1; }

.banner-image:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #000;
  opacity: 0.4;
  left: 0;
  top: 0;
  z-index: 0; }

.sharethis-inline-share-buttons {
  margin: 10px 0 15px; }

.newsletter-bar {
  padding: 50px 0;
  margin-top: 30px;
  background-color: #89b1d5;
  color: #fff;
  position: relative;
  -webkit-animation: gradientBackground 10s linear infinite alternate;
  -moz-animation: gradientBackground 10s linear infinite alternate;
  -o-animation: gradientBackground 10s linear infinite alternate;
  -ms-animation: gradientBackground 10s linear infinite alternate;
  animation: gradientBackground 10s linear infinite alternate; }
  .newsletter-bar:before {
    content: '';
    position: absolute;
    display: block;
    z-index: 0;
    top: 0;
    opacity: 0.2;
    right: 20%;
    width: 128px;
    height: 128px;
    background: url("../img/cloud.png") no-repeat center center;
    background-size: cover;
    -webkit-animation: floatingCloud_1 5s linear infinite alternate;
    -moz-animation: floatingCloud_1 5s linear infinite alternate;
    -o-animation: floatingCloud_1 5s linear infinite alternate;
    -ms-animation: floatingCloud_1 5s linear infinite alternate;
    animation: floatingCloud_1 5s linear infinite alternate; }
  .newsletter-bar:after {
    content: '';
    position: absolute;
    display: block;
    z-index: 0;
    top: 85px;
    right: 25%;
    opacity: 0.2;
    width: 120px;
    height: 120px;
    background: url("../img/cloud2.png") no-repeat center center;
    background-size: cover;
    -webkit-animation: floatingCloud_2 10s linear infinite alternate;
    -moz-animation: floatingCloud_2 10s linear infinite alternate;
    -o-animation: floatingCloud_2 10s linear infinite alternate;
    -ms-animation: floatingCloud_2 10s linear infinite alternate;
    animation: floatingCloud_2 10s linear infinite alternate; }
  .newsletter-bar h3 {
    font-size: 30px;
    letter-spacing: 3px;
    margin-top: 0; }
  .newsletter-bar .form-row {
    font-weight: normal;
    display: block;
    width: 100%; }
    .newsletter-bar .form-row .form-input {
      display: block;
      width: 100%;
      padding: 10px;
      border: none;
      color: #5c6468; }
    .newsletter-bar .form-row button[type="submit"] {
      background: transparent;
      color: #fff;
      border: solid 2px rgba(255, 255, 255, 0.1);
      border-radius: 30px;
      padding: 10px 30px;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
      .newsletter-bar .form-row button[type="submit"]:hover {
        border-color: #fff; }
      .newsletter-bar .form-row button[type="submit"]:after {
        content: "\f1d8";
        font-family: FontAwesome, sans-serif;
        font-size: 18px;
        margin-left: 15px; }

.grid-sizer,
.grid-item {
  width: 25%;
  padding: 3px; }
  .grid-sizer img,
  .grid-item img {
    width: 100%; }

.grid-item:hover:before {
  content: '';
  display: block;
  position: absolute;
  width: calc(100% - 5px);
  height: calc(100% - 5px);
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1; }

.grid-item:hover:after {
  content: '\f002';
  font-family: FontAwesome, sans-serif;
  position: absolute;
  font-size: 30px;
  color: #fff;
  opacity: 0.6;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 2; }

header {
  margin-bottom: 30px;
  background-color: #fff;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; }

header.fixed {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5;
  width: 100%;
  margin: 0;
  -webkit-animation: showNav 0.7s ease 1;
  -moz-animation: showNav 0.7s ease 1;
  -o-animation: showNav 0.7s ease 1;
  -ms-animation: showNav 0.7s ease 1;
  animation: showNav 0.7s ease 1; }
  header.fixed #logo_bar {
    padding: 10px 0 !important; }
    header.fixed #logo_bar .slogan {
      display: none; }
    header.fixed #logo_bar img {
      height: 100px; }
  header.fixed .nav-menu {
    margin-top: 0; }
    header.fixed .nav-menu .menu-item {
      font-size: 13px;
      padding: 10px 10px 10px 30px; }
      header.fixed .nav-menu .menu-item img {
        position: absolute;
        left: 5px;
        top: 2px;
        height: 30px !important; }

#top_header {
  font-size: 13px;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  z-index: 10;
  position: relative;
  color: #5c6468;
  padding: 10px 0;
  margin-bottom: 520px;
  border-bottom: solid 2px #f2f2f2; }
  #top_header ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    #top_header ul li {
      display: inline-block; }

.top_nav_bar {
  text-align: center; }
  .top_nav_bar .link_space {
    width: 30px; }
  .top_nav_bar a {
    padding: 15px;
    color: #5c6468; }
  .top_nav_bar .slash {
    margin-right: 15px; }

.top_nav_bar.mobile-only a {
  display: block;
  padding: 8px 15px; }
.top_nav_bar.mobile-only a:focus,
.top_nav_bar.mobile-only a:hover {
  color: #fb7660; }

#logo_bar {
  padding: 80px 0 15px;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  #logo_bar img {
    height: 280px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  #logo_bar .slogan {
    color: #5c6468;
    letter-spacing: 8px;
    margin-top: 20px;
    font-size: 13px; }

.nav-menu {
  border-top: solid 2px #f2f2f2;
  border-bottom: solid 2px #f2f2f2;
  text-align: center;
  margin-top: 80px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .nav-menu .container {
    width: auto; }
  .nav-menu ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    .nav-menu ul li {
      text-align: left; }
  .nav-menu .main-menu li {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px; }
  .nav-menu .menu-item {
    text-transform: uppercase;
    color: #5c6468;
    font-family: "deliusregular", sans-serif;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    padding: 10px 15px;
    position: relative;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    .nav-menu .menu-item img {
      position: absolute;
      left: 50%;
      top: -70px;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      -webkit-transform: translate(-50%, 0);
      -moz-transform: translate(-50%, 0);
      -o-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      transform: translate(-50%, 0); }
  .nav-menu .menu-item:hover,
  .nav-menu .menu-item.active,
  .nav-menu .sub-menu:hover > .menu-item {
    box-shadow: inset 0 -3px 0 #fb7660; }
  .nav-menu .sub-menu {
    position: relative; }
    .nav-menu .sub-menu ul {
      display: none;
      position: absolute;
      z-index: 10;
      left: 0;
      padding: 10px 0 15px;
      background-color: #fff; }
    .nav-menu .sub-menu li {
      display: block; }
      .nav-menu .sub-menu li a {
        display: block;
        padding: 6px 0 5px;
        color: #5c6468;
        font-family: "Open Sans", sans-serif;
        min-width: 250px;
        border-bottom: solid 1px transparent;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
      .nav-menu .sub-menu li a:hover {
        border-color: #fb7660; }
  @media (min-width: 992px) {
    .nav-menu .sub-menu:hover > ul {
      display: block;
      animation: navSlideDown 0.3s 1; } }

#navToggle {
  display: none;
  position: fixed;
  z-index: 101;
  top: 15px;
  right: 5px;
  background: #89b1d5;
  border: none;
  color: #fff;
  padding: 5px 15px; }

.top_search_bar {
  position: absolute;
  padding: 5px 0;
  background-color: rgba(137, 177, 213, 0.2);
  left: 50%;
  width: 100%;
  display: none;
  z-index: 0;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  top: 20px; }
  .top_search_bar .container {
    position: relative; }
  .top_search_bar form {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%; }
  .top_search_bar input {
    display: inline-block;
    flex-grow: 1;
    padding: 10px;
    border: none;
    background: none; }
  .top_search_bar button {
    width: 50px;
    height: 50px;
    border: none;
    background: none;
    color: #5c6468;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  .top_search_bar button:hover {
    background-color: #89b1d5; }

.top_search_bar.visible {
  top: 40px;
  display: block; }

.lang_menu a,
.top_nav_bar.mobile-only .lang_menu a {
  position: relative;
  padding-left: 35px; }
  .lang_menu a:before,
  .top_nav_bar.mobile-only .lang_menu a:before {
    content: '';
    display: inline-block;
    width: 22px;
    height: 15px;
    margin-right: 15px;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%); }
.lang_menu .lang-EN:before,
.top_nav_bar.mobile-only .lang_menu .lang-EN:before {
  background: url("../img/EN.png") no-repeat;
  background-size: cover; }
.lang_menu .lang-FR:before,
.top_nav_bar.mobile-only .lang_menu .lang-FR:before {
  background: url("../img/FR.png") no-repeat;
  background-size: cover; }

footer {
  background-color: #f8f8f8;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%; }

#footer_bottom {
  margin-top: 30px;
  background-color: #ccc;
  overflow: hidden;
  padding: 20px 0;
  font-size: 12px; }
  #footer_bottom .copyright {
    color: #5c6468;
    display: inline-block; }
  #footer_bottom .bottom_menu {
    float: right;
    padding: 0;
    margin: 0;
    list-style: none; }
    #footer_bottom .bottom_menu li {
      float: left;
      margin-right: 30px; }
      #footer_bottom .bottom_menu li a {
        color: #5c6468;
        text-transform: uppercase; }
    #footer_bottom .bottom_menu li:last-of-type {
      margin: 0; }

.footer_logo {
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  padding: 20px 0; }
  .footer_logo img {
    margin-bottom: 20px; }

.footer_social_menu {
  margin: 15px 0;
  padding: 0;
  list-style: none; }
  .footer_social_menu li {
    display: inline-block;
    vertical-align: top;
    margin-right: 5px; }
    .footer_social_menu li a {
      display: inline-block;
      width: 50px;
      height: 50px;
      border-radius: 100%;
      background-color: #fb7660;
      color: #fff;
      font-size: 23px;
      position: relative; }
      .footer_social_menu li a .fa {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }

.footer_link_list {
  margin: 0;
  padding: 0;
  list-style: none; }
  .footer_link_list h6 {
    text-transform: uppercase;
    color: #fb7660;
    font-size: 18px;
    font-family: "deliusregular", sans-serif;
    margin-bottom: 15px; }
  .footer_link_list a {
    color: #5c6468;
    font-size: 12px;
    margin-bottom: 8px;
    display: block; }

.slick {
  width: 100%;
  overflow: hidden; }
  .slick .slide {
    margin: 0 20px;
    position: relative;
    overflow: hidden; }
    .slick .slide img {
      width: 100%;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
    .slick .slide .slide-description {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      z-index: 2;
      height: 100px;
      text-align: center;
      color: #fff;
      font-size: 18px;
      text-transform: uppercase;
      font-family: "deliusregular", sans-serif;
      background-color: rgba(251, 118, 96, 0.85); }
      .slick .slide .slide-description p {
        position: absolute;
        margin: 0;
        padding: 0;
        width: 90%;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
  .slick .slide:hover img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }
  .slick .slide:nth-of-type(odd) .slide-description {
    background-color: rgba(137, 177, 213, 0.85); }

.carousel {
  position: relative; }
  .carousel .controls span {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    font-size: 30px;
    width: 60px;
    display: inline-block;
    border-radius: 100%;
    padding: 7px 0;
    text-align: center;
    background-color: #fb7660;
    color: #fff;
    cursor: pointer;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
  .carousel .controls .prev {
    left: 25px; }
  .carousel .controls .next {
    right: 25px; }

.carousel:hover .controls span {
  opacity: 0.7; }
.carousel:hover .controls .prev {
  -webkit-animation: showLeftSliderControl 0.8s ease 1;
  -o-animation: showLeftSliderControl 0.8s ease 1;
  animation: showLeftSliderControl 0.8s ease 1; }
.carousel:hover .controls .next {
  -webkit-animation: showRightSliderControl 0.8s ease 1;
  -o-animation: showRightSliderControl 0.8s ease 1;
  animation: showRightSliderControl 0.8s ease 1; }
.carousel:hover .controls span:hover {
  opacity: 1; }

.articles .article {
  display: inline-block;
  padding: 15px 15px 50px;
  border-bottom: solid 6px #fb7660;
  margin-bottom: 50px;
  box-shadow: 0 0 8px #e5e5e5;
  position: relative; }
  .articles .article .img-frame {
    position: relative;
    overflow: hidden;
    height: 250px;
    width: 100%; }
    .articles .article .img-frame img {
      position: absolute;
      left: 50%;
      width: 100%;
      top: 0;
      -webkit-transform: translate(-50%, 0);
      -moz-transform: translate(-50%, 0);
      -o-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
  .articles .article .title {
    font-family: "deliusregular", sans-serif;
    margin: 30px 0;
    font-size: 20px;
    line-height: 28px;
    color: #5c6468; }
  .articles .article .abstract {
    font-family: "Open Sans", sans-serif;
    color: #5c6468; }
.articles .row:nth-of-type(even) .col-sm-6:first-of-type .article {
  border-color: #89b1d5; }
.articles .row:nth-of-type(odd) .col-sm-6:nth-of-type(odd) .article {
  border-color: #89b1d5; }

.article-title {
  text-align: center;
  text-transform: uppercase;
  font-family: "deliusregular", sans-serif;
  font-size: 40px;
  letter-spacing: 5px;
  color: #5c6468; }

.hero-image {
  height: 500px;
  overflow: hidden;
  position: relative;
  margin-bottom: 10px; }
  .hero-image img {
    width: 100%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%); }

.section-title.small {
  margin-bottom: 30px !important; }

.suggestion-list {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  position: relative;
  width: 100%;
  margin-bottom: 40px; }
  .suggestion-list li {
    display: inline-block;
    margin-right: 15px;
    flex-grow: 1;
    width: 0;
    box-shadow: 0 0 8px #e5e5e5; }
    .suggestion-list li:last-child {
      margin-right: 0; }
    .suggestion-list li .list-item {
      display: inline-block;
      width: 100%;
      padding: 10px 10px 30px;
      border-bottom: solid 3px #fb7660;
      font-family: "deliusregular", sans-serif;
      color: #5c6468; }
      .suggestion-list li .list-item .abstract {
        padding: 10px 0; }
      .suggestion-list li .list-item .image-frame {
        position: relative;
        height: 150px;
        overflow: hidden; }
        .suggestion-list li .list-item .image-frame img {
          width: 100%;
          position: absolute;
          top: 0;
          -webkit-transition: all 0.2s ease-in-out;
          -moz-transition: all 0.2s ease-in-out;
          -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out; }
    .suggestion-list li .list-item:hover img {
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -o-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2); }

.comments-section .header {
  background-color: #f2f2f2;
  padding: 15px;
  margin-bottom: 20px; }
  .comments-section .header .section-title {
    font-family: "deliusregular", sans-serif;
    font-size: 35px; }
  .comments-section .header #loginFormButton,
  .comments-section .header #regFormButton {
    background: none;
    border: none;
    color: #fb7660; }

#slick-forms {
  margin: 20px 0;
  background-color: #f8f8f8; }
  #slick-forms .slide.img {
    background-size: cover;
    background-position: center top;
    height: 300px;
    width: 100%; }
  #slick-forms #login-form,
  #slick-forms #registration-form {
    padding: 20px;
    height: 300px; }
    #slick-forms #login-form h3,
    #slick-forms #registration-form h3 {
      font-family: "deliusregular", sans-serif;
      margin-top: 0; }
    #slick-forms #login-form label,
    #slick-forms #registration-form label {
      display: block;
      font-weight: normal; }
    #slick-forms #login-form .form-input,
    #slick-forms #registration-form .form-input {
      display: block;
      width: 100%;
      height: 40px;
      padding: 0 10px;
      border: none; }
    #slick-forms #login-form button,
    #slick-forms #registration-form button {
      display: block;
      width: 100%;
      height: 40px;
      font-family: "deliusregular", sans-serif;
      color: #fff;
      border: none; }
  #slick-forms #login-form button {
    background-color: #fb7660; }
  #slick-forms #registration-form button {
    background-color: #89b1d5; }

.comment-form,
.reply-form {
  margin: 10px 0;
  border-top: solid 1px #f2f2f2;
  padding: 15px 0; }
  .comment-form label,
  .reply-form label {
    display: none; }
  .comment-form .form-input,
  .reply-form .form-input {
    display: block;
    width: 100%;
    padding: 10px;
    border: solid 1px #f2f2f2; }
  .comment-form .form-input::placeholder,
  .reply-form .form-input::placeholder {
    color: #878787; }

.reply-form .form-input {
  border-radius: 20px; }

.comment-list {
  background-color: #f2f2f2; }
  .comment-list .comment-container {
    margin-bottom: 15px;
    padding: 15px;
    position: relative; }
    .comment-list .comment-container .author-name {
      font-weight: 700;
      font-size: 14px;
      color: #fb7660;
      margin-bottom: 10px; }
    .comment-list .comment-container .comment {
      padding: 15px;
      background-color: #fff;
      border-radius: 10px;
      margin-bottom: 5px;
      position: relative; }
    .comment-list .comment-container .publication-date {
      position: absolute;
      right: 10px;
      bottom: -20px;
      font-style: italic;
      font-size: 12px;
      text-align: right;
      color: #878787; }
    .comment-list .comment-container .likes-count {
      position: absolute;
      left: 0;
      bottom: -15px;
      z-index: 2000; }
      .comment-list .comment-container .likes-count .like-button {
        background-color: #fff;
        display: inline-block;
        position: relative;
        padding: 8px;
        border-radius: 12px;
        cursor: pointer;
        margin: 0;
        font-weight: normal;
        font-size: 12px;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1); }
      .comment-list .comment-container .likes-count .like-button:before {
        content: "\f004";
        font-family: FontAwesome, sans-serif;
        margin-right: 5px; }
      .comment-list .comment-container .likes-count .like-button.liked:before {
        color: #FF0500; }
      .comment-list .comment-container .likes-count input[type="checkbox"] {
        display: none; }
  .comment-list .comment-container:last-child {
    margin-bottom: 0; }
  .comment-list .reply-button {
    display: inline-block;
    color: #5c6468;
    border: none;
    background: none;
    padding: 8px 5px;
    font-size: 13px; }
  .comment-list .reply-button:after {
    content: "\f0d7";
    font-family: FontAwesome, sans-serif;
    margin-left: 5px; }
  .comment-list .reply-button:hover {
    color: #fb7660; }

.replies-list .comment-container {
  margin-bottom: 5px;
  padding: 5px 0 5px 40px; }
  .replies-list .comment-container .author-name {
    font-weight: 700;
    font-size: 14px;
    color: #fb7660;
    margin-bottom: 5px; }
  .replies-list .comment-container .comment {
    padding: 15px;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 5px; }

div.zabuto_calendar .badge-today {
  background-color: #5c6468; }
div.zabuto_calendar .table tr td.event div.day {
  background-color: #fb7660;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
div.zabuto_calendar .table tr td.event div.day:hover {
  background-color: #89b1d5; }
div.zabuto_calendar .badge-event {
  background-color: #89b1d5; }

.modal-content {
  border-radius: 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4); }
  .modal-content .modal-header {
    background-color: #fb7660;
    color: #fff;
    font-family: "deliusregular", sans-serif;
    font-size: 25px; }
  .modal-content .modal-footer {
    border: none;
    background: #f2f2f2; }
    .modal-content .modal-footer .btn {
      background: #fb7660;
      color: #fff;
      border-radius: 0;
      border: none;
      font-family: "Open Sans", sans-serif; }
  .modal-content .event {
    padding-bottom: 25px;
    border-bottom: solid 2px #fb7660;
    margin-bottom: 15px; }
  .modal-content .event:last-child {
    margin: 0; }
  .modal-content .event_title {
    font-family: "deliusregular", sans-serif;
    font-size: 20px; }
  .modal-content .event_picture_frame {
    margin-bottom: 10px; }
  .modal-content .event_location,
  .modal-content .annonceur {
    font-style: italic;
    margin-bottom: 10px;
    font-size: 13px; }

.sidebar .advert {
  display: block;
  margin: 15px 0; }
  .sidebar .advert img {
    width: 100%; }
.sidebar .widget {
  margin-bottom: 20px; }
  .sidebar .widget .widget-title {
    font-family: "deliusregular", sans-serif;
    font-size: 25px;
    letter-spacing: 2px;
    color: #89b1d5;
    text-transform: uppercase; }
  .sidebar .widget.sondage {
    font-size: 13px;
    padding: 10px;
    background-color: rgba(137, 177, 213, 0.1);
    border-radius: 5px; }
    .sidebar .widget.sondage ul {
      margin: 10px 0;
      padding: 0;
      list-style: none; }
    .sidebar .widget.sondage .radio-option {
      padding: 5px 0;
      display: block;
      margin-bottom: 2px;
      cursor: pointer;
      font-weight: normal; }
    .sidebar .widget.sondage input {
      margin-right: 18px; }
    .sidebar .widget.sondage button {
      background: #89b1d5;
      display: block;
      margin: 15px auto;
      padding: 10px 30px;
      color: #fff;
      border: none; }

#filtre-localite label {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
  font-family: "Open Sans", sans-serif; }
#filtre-localite .filtre#localite {
  font-weight: 700;
  color: #5c6468;
  border: none;
  text-transform: uppercase; }

.liste-etablissements .etablissement {
  margin-bottom: 25px;
  padding: 30px 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  box-shadow: 0 0 5px rgba(92, 100, 104, 0.2), 0 5px 5px #f2f2f2; }
  .liste-etablissements .etablissement h4 {
    font-family: "deliusregular", sans-serif;
    color: #fb7660;
    font-size: 20px;
    margin-bottom: 15px; }
  .liste-etablissements .etablissement .adresse {
    margin-bottom: 10px; }
  .liste-etablissements .etablissement .prestations h5 {
    text-transform: uppercase;
    font-weight: 700;
    color: #5c6468; }
  .liste-etablissements .etablissement .prestations ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 70px;
    color: #5c6468; }
    .liste-etablissements .etablissement .prestations ul li:before {
      content: '\2043';
      display: inline-block;
      margin-right: 15px; }

.search_result_category {
  margin-bottom: 20px; }
  .search_result_category:last-child {
    margin: 0; }
  .search_result_category .search_result_category_header {
    background: #f2f2f2;
    display: block;
    width: 100%;
    text-align: left;
    cursor: pointer;
    padding: 10px 15px 10px 15px;
    border: none;
    font-size: 16px;
    font-family: "deliusregular", sans-serif;
    color: #5c6468;
    margin-bottom: 10px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    position: relative; }
    .search_result_category .search_result_category_header:hover {
      background-color: #fb7660;
      color: #fff; }
    .search_result_category .search_result_category_header:after {
      content: "\f067";
      font-family: FontAwesome, sans-serif;
      position: absolute;
      right: 15px; }

#search_result_evenements .liste-evenements {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  #search_result_evenements .liste-evenements .list-item {
    width: calc(50% - 12px);
    margin-bottom: 10px;
    border: solid 1px #f2f2f2; }
    #search_result_evenements .liste-evenements .list-item:nth-of-type(odd) {
      margin-right: 10px; }
    #search_result_evenements .liste-evenements .list-item:nth-of-type(even) {
      margin-left: 10px; }
    #search_result_evenements .liste-evenements .list-item .col-xs-9 {
      padding: 10px 0 15px; }
    #search_result_evenements .liste-evenements .list-item .event_title {
      font-family: "deliusregular", sans-serif;
      font-size: 18px;
      margin-bottom: 10px; }
    #search_result_evenements .liste-evenements .list-item:last-child {
      margin-bottom: 0; }

#contact-form .form-row {
  display: block;
  font-weight: normal;
  margin-bottom: 15px; }
#contact-form .label {
  color: #fb7660;
  display: block;
  text-align: left;
  padding-left: 0; }
#contact-form .form-input {
  display: block;
  margin: 5px 0;
  padding: 10px;
  width: 100%;
  border: solid 3px #f2f2f2; }
#contact-form textarea.form-input {
  height: 180px;
  resize: vertical; }
#contact-form button[type="submit"] {
  display: block;
  background-color: #fb7660;
  color: #fff;
  padding: 10px 30px;
  border: none; }

.contact-info .adresse,
.contact-info .telephone,
.contact-info .email {
  margin-bottom: 5px; }
.contact-info .adresse:before,
.contact-info .telephone:before,
.contact-info .email:before {
  font-family: FontAwesome, sans-serif;
  margin-right: 15px;
  color: #C0C0C0; }
.contact-info .adresse:before {
  content: '\f015'; }
.contact-info .telephone:before {
  content: '\f095'; }
.contact-info .email:before {
  content: '\f0e0'; }

@media (max-width: 1366px) {
  .error404 {
    background: #89b1d5; } }
@media (max-width: 991px) {
  html {
    width: 100%;
    overflow-x: hidden; }

  body {
    padding-bottom: 830px; }

  .navbar-nav {
    float: none;
    text-align: center; }
    .navbar-nav li {
      float: none;
      display: inline-block; }

  .mobile-only {
    display: block !important; }

  #top_header {
    border: none;
    z-index: 101; }

  .top_search_bar.visible {
    position: fixed;
    bottom: 0;
    z-index: 200;
    top: auto;
    background-color: #f2f2f2; }

  .top_nav_bar {
    display: none; }

  #logo_bar img {
    height: auto;
    width: 65%; }

  #navToggle {
    display: block; }

  .nav-menu {
    position: fixed;
    overflow-y: scroll;
    z-index: 100;
    height: 100%;
    width: 100%;
    background-color: #fff;
    padding: 10px 0;
    top: 0;
    left: -100%;
    margin: 0;
    border: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    .nav-menu .main-menu {
      padding-top: 10px;
      margin-top: 30px;
      position: relative; }
      .nav-menu .main-menu li {
        display: block;
        margin: 0; }
    .nav-menu .menu-item {
      display: block;
      padding-left: 50px;
      margin-bottom: 15px; }
      .nav-menu .menu-item img {
        left: 25px;
        top: 3px;
        height: 35px; }
    .nav-menu .menu-item:hover,
    .nav-menu .menu-item.active,
    .nav-menu .sub-menu:hover > .menu-item {
      box-shadow: inset 3px 0 0 #fb7660; }
    .nav-menu .sub-menu {
      height: 43px;
      overflow: hidden;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
      .nav-menu .sub-menu ul {
        display: block;
        position: relative;
        background: none; }

  .nav-menu.visible {
    -webkit-transform: translate(100%, 0);
    -moz-transform: translate(100%, 0);
    -o-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    transform: translate(100%, 0); }

  #footer_bottom {
    text-align: center; }

  .footer_logo {
    text-align: center; }
    .footer_logo img {
      margin: 0 auto 20px; }

  .slick .slide {
    margin: 0 10px; }
    .slick .slide .slide-description {
      height: 80px;
      font-size: 15px; }

  .articles .article {
    margin-bottom: 30px; }
    .articles .article .img-frame {
      height: 200px; }
    .articles .article .title {
      margin: 15px 0; } }
@media (max-width: 768px) {
  body {
    padding-bottom: 430px; }

  #top_header {
    margin-bottom: 400px; }

  .article-title {
    font-size: 30px;
    margin-bottom: 25px; }

  .hero-image {
    height: auto;
    overflow: visible; }
    .hero-image img {
      width: 100%;
      position: relative;
      top: 0;
      -webkit-transform: translate(0, 0);
      -moz-transform: translate(0, 0);
      -o-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      transform: translate(0, 0); }

  .suggestion-list {
    display: block; }
    .suggestion-list li {
      display: block;
      margin: 15px 0;
      width: 100%; }
      .suggestion-list li .list-item {
        display: inline-block;
        width: 100%;
        padding: 10px 10px 30px;
        border-bottom: solid 3px #fb7660;
        font-family: "deliusregular", sans-serif;
        color: #5c6468; }
        .suggestion-list li .list-item .abstract {
          padding: 10px 0; }
        .suggestion-list li .list-item .image-frame {
          position: relative;
          height: auto;
          overflow: visible; }
          .suggestion-list li .list-item .image-frame img {
            position: relative;
            top: 0; }
      .suggestion-list li .list-item:hover img {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1); }

  .liste-etablissements .etablissement .prestations ul {
    height: 100px; }

  .carousel .controls span {
    width: 50px;
    display: inline-block;
    padding: 5px 0;
    text-align: center;
    background-color: #fb7660;
    color: #fff;
    cursor: pointer;
    opacity: 0.5;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
  .carousel .controls .prev {
    left: 5px; }
  .carousel .controls .next {
    right: 5px; }

  .grid-sizer,
  .grid-item {
    width: 33.333%; } }
@media (max-width: 640px) {
  #top_header {
    margin-bottom: 350px; } }
@media (max-width: 560px) {
  #top_header {
    margin-bottom: 320px; }

  .section-title.left h2 {
    font-size: 25px; } }
@media (max-width: 480px) {
  .slick .slide {
    margin: 0 4px; }
    .slick .slide .slide-description {
      font-size: 15px; }

  #top_header {
    margin-bottom: 300px; }

  .liste-etablissements .etablissement .photos .col-xs-6 {
    width: 100%;
    float: none;
    margin-bottom: 15px; }
  .liste-etablissements .etablissement .photos .col-xs-6:last-child {
    margin-bottom: 0; }

  .grid-sizer,
  .grid-item {
    width: 50%; } }
@media (max-width: 380px) {
  #top_header {
    margin-bottom: 230px; } }

/*# sourceMappingURL=style.css.map */
